#logo {
    /* height: 30%; */
    width: 25%;
    position: absolute;
    top: 2em;
    left: 13%;
    /* margin: 50px; */

}

#background-header {
    width: 80%;
    margin-left: 10%;
    padding-bottom: 2.5em;
    background-color: rgb(223, 56, 100);
}

#mainTable-body {
    background-color: rgb(223, 56, 100);  
}

body {
    background-color: rgba(35, 130, 255, 0.753)
} 

.mainTable{
    border: 1px solid black;
    border-collapse: separate;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}
.mainTable-head{
    background-color: rgba(76, 35, 223, 0.658);
    text-align: center;
}

#btnAlta {
    margin-left: 11%;
    margin-top: -5em;
}

.edit-form {
    background-color:rgba(47, 0, 255, 0.3);
    padding: 50px;
    position: absolute;
    right: 25%;
    top: -15em;
    display: none;
}

.edit-form-init {
    background-color:rgba(0, 255, 76, 0.3);
    padding: 10px;


}

.form-label {
    color: red;
}

hr{
    margin-bottom: 0px;
    color: red;
}






